<div class="page_container">

<div class="page_top_section"> 

<div class="page_add_remove_button">
<div id="added_removed_form">
<%= form_for @book, url: {action: "update", controller: "book"}, html: {class: "nifty_form"} do |f| %>
  <%= hidden_field_tag(:booklist_id, @user.booklist.id) %>
  <%= hidden_field_tag(:id, @book.id) %>
  <%= hidden_field_tag(:created_at, @book.created_at) %>
  <%= f.submit @button_label4, :class => 'radius button hidden tiny secondary' %>
</div>
  <div id="added_removed_notice2"><%= content_tag(:div, flash[:notice2], :id => "flash_notice2") if flash[:notice2] %></div>
<% end %>
</div>

<div class="page_header_header">
<strong><%= @book.title %></strong>
</div>

<div class="page_header">
<div class="stats">


<fieldset class="fieldset2">
	<legend>Stats</legend>
<div class="stats_container1">
<div class="inner_stats_container">
<span> <strong> Overall Rating: </strong> 

<% unless @book.rating_overall == nil %>
<%= (@book.rating_overall).round(2) %> 
(out of 5)
<% end %>

</span></br>
<span> <strong> NPR Rank: </strong><%= @book.rank.ordinalize %> </span></br>
<span> <strong> Users with "Book On Shelf": </strong><%= @book.users.length %> </span></br>
<span> <strong> Topics: </strong> <%= @book.topics.length %> <strong>, Comments: </strong> <%= @book.comments.length + @book.comment2s.length + @book.comment3s.length %> </span></br>
</div>
</div>

<div class="stats_container2">
<div class="inner_stats_container">
<span> <strong> Style Rating: </strong>

<% unless @book.rating_style == nil %>
<%= (@book.rating_style).round(2) %>
(out of 5) 
<% end %>

</span></br>
<span> <strong> Plot Rating: </strong>

<% unless @book.rating_plot == nil %>
<%= (@book.rating_plot).round(2)  %> 
(out of 5)
<% end %>

</span></br>
<span> <strong> Theme Rating: </strong>

<% unless @book.rating_theme == nil %>
<%= (@book.rating_theme).round(2)  %> 
(out of 5) 
<% end %>

</span></br>
<span> <strong> Characters Rating: </strong>

<% unless @book.rating_characters == nil %>
<%= (@book.rating_characters).round(2)  %> 
(out of 5) 
<% end %>

</span>
</div>
</div>

<div class="stats_container3">
<div class="inner_stats_container">
<span> <strong> Author: </strong> <%= @book.author %></span></br>
<span> <strong> Publication: </strong> <%= @book.publication %> </span></br>
<span> <strong> Last Comment at: </strong> <%= @book_comment_last_created_at %></span></br>
<span> <strong> for </strong> <%= @book_comment_last_created_at_topic %> </span>
</div>
</div>


</div>
</fieldset>

</div>
</div>


<div class="new_topic">
<!--  <%#= form_for @book, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
  <%#= hidden_field_tag(:booklist_id, @user.booklist.id) %>
  <%#= hidden_field_tag(:id, @book.id) %>
  <%#= f.submit @button_label %>
  <div id="added_removed_notice"><%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %></div>
<%# end %> --> 

        <fieldset class="fieldset3">
        <legend> Add a new Topic! </legend>
        <%= form_for :topic, url: {action: "new_topic"}, html: {class: "nifty form"} do |f| %>
        <%= hidden_field_tag(:user_id, @user.id) %>
        <%= hidden_field_tag(:book_id, @book.id) %>
        <%= f.label :title, "What would you like to discuss?</br><span>(Phrase as one sentence question please!)</span>".html_safe %>
        <%= f.text_field :title %>
        <%= f.label :description, "What do you have to say about this topic?</br><span>Get the conversation started!</span>".html_safe %>
        <%= f.text_area :description %>
        <%= f.label :category %>
        <%= f.select(:category, [['Please select an option', nil], 'Plot', 'Character', 'Theme', 'Misc']) %>
        <%= f.submit @button_label, :class => 'radius button hidden tiny secondary' %>
<% end %>
        </fieldset>
</div>

</div>

<div class="book_ratings">
        <%= form_for @book, url: {action: "rate_book"}, html: {class: "nifty form"} do |f| %>
                <%#= f.label :style, "How would you rate the writing \"style\" of this book?" %>
                <%= hidden_field_tag(:book_id, @book.id) %>

        <div class="book_ratings_sub_1">
                <fieldset class="fieldset">
                <legend>Rate Style</legend>
                        <% @ratings_style.each do |rts| %>
                          <div class="rating_radial">
                          <%= f.label rts %>
                          <%= f.radio_button :rating_style, rts %>
                          </div>
                        <% end %>
                <div class="current_ratings">Your Current Rating: <%= @current_style_rt %> </div>
                </fieldset>
                <fieldset class="fieldset">
                <legend>Rate Plot</legend>
                        <% @ratings_plot.each do |rts| %>
                          <div class="rating_radial">
                          <%= f.label rts %>
                          <%= f.radio_button :rating_plot, rts %>
                          </div>
                        <% end %>
                <div class="current_ratings">Your Current Rating: <%= @current_plot_rt %> </div>
                </fieldset>
        </div>
        <div class="book_ratings_sub_2">
                <fieldset class="fieldset">
                <legend>Rate Theme</legend>
                        <% @ratings_theme.each do |rts| %>
                          <div class="rating_radial">
                          <%= f.label rts %>
                          <%= f.radio_button :rating_theme, rts %>
                          </div>
                        <% end %>
                <div class="current_ratings">Your Current Rating: <%= @current_theme_rt %> </div>
                </fieldset>
                <fieldset class="fieldset">
                <legend>Rate Characters</legend>
                        <% @ratings_characters.each do |rts| %>
                          <div class="rating_radial">
                          <%= f.label rts %>
                          <%= f.radio_button :rating_characters, rts %>
                          </div>
                        <% end %>
                <div class="current_ratings">Your Current Rating: <%= @current_characters_rt %> </div>
                </fieldset>
        </div>
        <div class="book_ratings_submit">
                <%= f.submit @button_label_2, :class => 'radius button tiny secondary' %>
                <div id="rating_notice"><%= content_tag(:div, flash[:notice], :id => "flash_notice2") if flash[:notice] %></div>

        </div>
                <%#= f.collection_radio_buttons(:style, [['Please select an option', nil], 1, 2, 3, 4, 5]) %>
        <% end %>



</div>


<div id="topics_container_container">
<%= render(:partial => 'book/topics_container') %>
</div>


