<% content_for :body do %>
<script type="text/javascript">
$(document).ready(function() {
   var options = {
      autoResize: true, // This will auto-update the layout when the browser window is resized.
      container: $('.tiles'), // Optional, used for some extra CSS styling
      offset: 10, // Optional, the distance between grid items
      flexibleWidth: 210 // Optional, the maximum width of a grid item
    };
    var handler = $('.tile');
    
    $('tiles').imagesLoaded(function() {
      // Prepare layout options.
      // Get a reference to your grid items.
      // Call the layout function.
      handler.wookmark(options);

	$('tiles').imagesLoaded(function() {
    	  // Prepare layout options.
    	  // Get a reference to your grid items.
    	  // Call the layout function.
    	  handler.wookmark(options);
		$('tiles').imagesLoaded(function() {
    		  // Prepare layout options.
    		  // Get a reference to your grid items.
    		  // Call the layout function.
    		  handler.wookmark(options);
    		});
    	});
    });


    handler.wookmark(options);

   $(window).load(function() {
        $('tiles').imagesLoaded(function() {
                  // Prepare layout options.
                  // Get a reference to your grid items.
                  // Call the layout function.
                  handler.wookmark(options);
                        $(window).load(function() {
                                $('tiles').imagesLoaded(function() {
                                          // Prepare layout options.
                                          // Get a reference to your grid items.
                                          // Call the layout function.
                                          handler.wookmark(options);
                                        });
                });
                });
});
});


</script>
<% end %>

<center><%= image_tag("/Wizards_and_Spaceships_Logo.png", :id => "wizards_and_spaceships_logo", :alt => "Wizards & Spaceships Logo") %></center>
<span id="button_sort_chardin" data-position=top data-intro='Sort gallery by NPR ranking, Title name, Author last name, year of publication, or user overall rating. Click twice for reverse sort!'></span>
<div id="button_sort_box">
<%= form_for(:sorttype, remote: true, :url => { :action => "update_gallery" }) do |f| %>
                <%= hidden_field_tag(:user_id, @sorttype.user_id) %>
                <%= hidden_field_tag(:id, @sorttype.id) %>
		<%= hidden_field_tag(:skind, "npr") %>
                <%= f.submit "      NPR Rank - Sort     ", :class => 'button hidden tiny success round', :id => 'button_sort_npr', :remote => "true" %>
<% end %>		     

<%= form_for(:sorttype, remote: true, :url => { :action => "update_gallery" }) do |f| %>
		<%= hidden_field_tag(:user_id, @sorttype.user_id) %>
                <%= hidden_field_tag(:id, @sorttype.id) %>
		<%= hidden_field_tag(:skind, "title") %>
                <%= f.submit "    Title Name - Sort     ", :class => 'button hidden tiny success round',  :id => 'button_sort_title', :remote => "true" %>
<% end %>

<%= form_for(:sorttype, remote: true, :url => { :action => "update_gallery" }) do |f| %>
		<%= hidden_field_tag(:user_id, @sorttype.user_id) %>
                <%= hidden_field_tag(:id, @sorttype.id) %>
		<%= hidden_field_tag(:skind, "author") %>
                <%= f.submit "Author Surname - Sort", :class => 'button hidden tiny success round',  :id => 'button_sort_author', :remote => "true" %>
<% end %>

<%= form_for(:sorttype, remote: true, :url => { :action => "update_gallery" }) do |f| %>
		<%= hidden_field_tag(:user_id, @sorttype.user_id) %>
                <%= hidden_field_tag(:id, @sorttype.id) %>
		<%= hidden_field_tag(:skind, "publication") %>
                <%= f.submit "Publication Year - Sort", :class => 'button hidden tiny success round',  :id => 'button_sort_publication', :remote => "true" %>
<% end %>

<%= form_for(:sorttype, remote: true, :url => { :action => "update_gallery" }) do |f| %>
		<%= hidden_field_tag(:user_id, @sorttype.user_id) %>
                <%= hidden_field_tag(:id, @sorttype.id) %>	
		<%= hidden_field_tag(:skind, "rating") %>
                <%= f.submit "    User Rating - Sort    ", :class => 'button hidden tiny success round',  :id => 'button_sort_rating', :remote => "true" %>
<% end %>
</div>

<div id="main" role="main">

  <div class="row">
    <div class="large-16 columns" id="books_all">
     
       <div class="tiles"> 
          <% @books.each do |bk| %>
	      <% if bk.picture? %>
                <span class="tile">
		<%= link_to image_tag(bk.picture, :width => '200px', :class => 'picture'), book_path(bk.id), :data => { :colorbox => true, :colorbox_height => '800px', :colorbox_width => '600px', :colorbox_iframe => true} %>
              <% end %>
                </span>
          <% end %> 
       </div>

    </div>
  </div>


  </div> <!--  $('.tile').wookmark({autoResize: true}); end main -->
