<% content_for :head do %>
<style>

/* #book_container {
                position:absolute;
                left: 30px;
                top: 58px;  
		top:170-(<%= @user_books.length.to_i %>*14);
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
} 


#book_container_2 {
                position:absolute;
                left: 30px;
                top:404px;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
} */
</style>
<% end %>


<% content_for :body do %>
<script type="text/javascript">
	$('#side-menu').sidr().click(function() { $.ajax("/update_side_menu")});
        $('#gear').sidr().click(function() { $.ajax("/update_side_menu")});
	$.backstretch("/assets/hd-starry-sky.png");
</script>
<% end %>

<%= link_to('View / Hide Bookshelf', '#sidr', :id => 'side-menu', :class => 'button hidden tiny success') %><br/><br/>
<%= link_to('Update Bookshelf', {:action => 'update_side_menu'}, :id => 'update-side-menu', :class => 'button hidden tiny success', :remote => true) %>

<div id="home_gallery">
<%= render(:partial => 'home/gallery') %>
</div>

<div id="sidr" data-position=right data-intro='Add books you have read to the bookshelf by selecting them from the gallery to the right. Click on a book off the shelf to open a page listing all discussion topics for the book; select a topic and discuss! Use the "notification area" below the bookshelf to check for new comments and topics created for your bookshelf books; filter results by time range and/or type. Blue Boxes indicate "Comments". Green Boxes indicate "Topics". And Red Borders around either indicate a direct response to one of your comments or topics!'>
  <%= render(:partial => 'side_menu') %> </div>

